<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Reset password</mat-card-title>
        </mat-card-header>
        <form [formGroup]="form" (ngSubmit)="reset()" *ngIf="!submitted">
            <div>
                <app-form-field formControlName="username" label="Email" type="text" id="username" name="username"
                                required placeholder="Email" [readonly]="!!token"></app-form-field>
                <mat-icon *ngIf="emailConfirmed" color="accent">check_circle_all</mat-icon>
            </div>
            <div *ngIf="!!token">
                <div>
                    <app-form-field formControlName="password" label="New Password" type="text" id="password"
                                    name="password"
                                    type="password">
                    </app-form-field>
                </div>
                <div>
                    <app-form-field formControlName="confirmPassword" label="Confirm New Password" type="text"
                                    id="confirmPassword"
                                    type="password"
                                    name="confirmPassword">
                    </app-form-field>
                </div>
            </div>
            <div>
                <button mat-raised-button color="primary">Reset</button>
            </div>
        </form>
        <div *ngIf="submitted">
            <p>Your password has been reset. Please check your email for further instructions.</p>
            <button mat-raised-button color="primary" routerLink="/login">Go to login</button>
        </div>
    </mat-card>
</div>
