<div class="container">
    <mat-card class="card" cdkDrag>
        <mat-card-header>
            <mat-card-title>Notifications</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field style="padding-right: 10px;">
                    <mat-label>Notification</mat-label>
                    <input #notificationInput matInput />
                </mat-form-field>
                <button [disabled]="!notificationInput.value" mat-raised-button color="primary"
                        (click)="addNotification(notificationInput.value)">Add notification</button>
            </div>
            <div>
                <mat-form-field style="padding-right: 10px;">
                    <mat-label>Toast</mat-label>
                    <input #toastInput matInput />
                </mat-form-field>
                <button [disabled]="!toastInput.value" mat-raised-button color="primary"
                        (click)="showToast(toastInput.value)">Toast!</button>
            </div>
            <div>
                <mat-form-field style="padding-right: 10px;">
                    <mat-label>Send to SignalRHub</mat-label>
                    <input #inputSignalR matInput />
                </mat-form-field>
                <button [disabled]="!inputSignalR.value" mat-raised-button color="primary"
                        (click)="postNotificationToHub(inputSignalR.value)">Send</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
