<mat-card>
    <mat-card-header>
        <mat-card-title>
            <app-back-button></app-back-button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-tab-top-spacing">
            <form [formGroup]="form" (ngSubmit)="save()">
                <div>
                    <app-form-field formControlName="versionNumber" label="Version Number" id="versionNumber"
                                    name="versionNumber"
                                    required>
                    </app-form-field>
                </div>
                <div style="padding-top: 26px;">
                    <mat-form-field>
                        <mat-label>Release Date</mat-label>
                        <input matInput [matDatepicker]="releaseDatePicker" formControlName="releaseDate">
                        <mat-datepicker-toggle matSuffix [for]="releaseDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #releaseDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <hr />
            </form>
        </div>
    </mat-card-content>

    <div id="saveBtn" *ngIf="templateVersion?.id > 0">
        <button [disabled]="form.invalid || !form.dirty" mat-raised-button color="primary"
                (click)="save()">Save</button>
    </div>
    <div id="addBtn" *ngIf="!templateVersion?.id || templateVersion?.id == 0">
        <button [disabled]="form.invalid || !form.dirty" mat-raised-button color="primary"
                (click)="add()">Add</button>
    </div>
</mat-card>
