<mat-card>
    <mat-card-header>
        <mat-card-title>
            <app-back-button></app-back-button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="changePassword()">
            <div>
                <app-form-field formControlName="currentpassword" label="Current Password" type="text"
                                id="currentpassword"
                                type="password"
                                name="currentpassword">
                </app-form-field>
            </div>
            <div>
                <app-form-field formControlName="newpassword" label="New Password" type="text" id="newpassword"
                                name="newpassword"
                                type="password">
                </app-form-field>
            </div>
            <div>
                <app-form-field formControlName="confirmnewpassword" label="Confirm New Password" type="text"
                                id="confirmnewpassword"
                                type="password"
                                name="confirmnewpassword">
                </app-form-field>
            </div>
            <div>
                <button [disabled]="!enableButton()" mat-raised-button color="primary">Change Password</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
